.PictureDay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#dcb0ff, #faccff);
}

.PictureDay-container {
  width: 100%;
  height: 100%;
}

.PictureDay-title {
  text-align: center;
  font-size: 30px;
  padding: 25px;
  color: #1f1f1f;
}

.PictureDay-description {
  text-align: center;
  padding-inline: 150px;
  margin: 25px;
  font-size: 18px;
  color: #1f1f1f;
}

.PictureDay-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

@media only screen and (max-width: 900px) {
  .PictureDay-title {
    font-size: 5vw;
    padding: 20px;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 650px) {
  .PictureDay-title {
    font-size: 5vw;
  }

  .PictureDay-description {
    font-size: 3vw;
    margin-bottom: 25px;
  }

  .PictureDay-content-container {
    margin: 0px;
  }
}
